<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title> {$arts.title}</title>
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="__PUBLIC__/static/index/css/bootstrap.css" rel="stylesheet" />
     <!-- FONTAWESOME STYLE CSS -->
     <link href="__PUBLIC__/static/index/css/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="__PUBLIC__/static/index/css/style.css" rel="stylesheet" />
</head>
<body > 
   
 

    <section class="header-section">
        <div class="container">
              <div class="row">
               <a href="www.666guang.com"><div class="col-md-2">
                    <img src="__PUBLIC__/static/index/images/person.webp" class="img-circle img-responsive" />
                </div></a>
                <div class="col-md-5 text-center">
                    <h1><strong> 加龙</strong></h1>
                    <h4>PHPer & Pythoner</h4>
                </div>
                <div class="col-md-5">
                    <h3>WHO M I :</h3>

                    <p>一个94年的小年轻<p>
                    <p>爱跑步，爱阅读，爱美食</p>
                     <p>宝剑锋从磨砺出，梅花香自苦寒来</p>
                </div>
            </div>
        </div>
    </section>
    <!--HOME SECTION END-->

 
   
     <section  >
        <div class="container">
            <div class="row">
                <div class="col-md-9" >
                      <div class="blog-main">
                        <div class="heading-blog">
                          
                        </div>
                        <div class="blog-info">
                            <span class="label label-primary">时间：{$month}</span>
                            <span class="label label-success">栏目：</span>
                            
                                    <span class="label label-info">
                              点击： 
                            </span>
                            <span class="label label-danger">标签：
                            </span>
                        </div>
                       
                      
                        
                        <div class="blog-txt">
                             
                        </div>
                         
                         
                    </div>
                     <!--BLOG MAIN SECTION END-->
                 
                
                     
                    
                    </div>
                {include file="Public/right" /}


               
                    
              <!--   </div> -->


               
          <!--   </div> -->
</div>
    <!-- </section> -->
    <hr />
     <div class="container">
            <div class="row">
                <div class="col-md-12 text-center" style="padding:20px 5px;" >
                   &copy 2017 吕加龙
                    </div>
                </div>
                </div>
   
</body>
</html>
